.error-data-fetching {
  font-size: 0.5em;
  line-height: normal;
  display: block;
  text-align: center;
  left: 50%;
  width: 12em;
  margin-left: -6em;
  position: absolute;
  top: 50%;
  margin-top: -1.8em;
  height: 3.8em;
}
