.paginationContainer {
  position: absolute;
  text-align: center;
  line-height: 28px;
  width: 100%;
  .pagDot {
    width: 8px;
    margin: 0 3px;
    border-radius: 20px;
    height: 8px;
    display: inline-block;
    background: #ffffff;
    &.active {
      background: url('../../images/paginationActive.png') no-repeat;
      width: 14px;
      height: 14px;
      margin-bottom: -3px;
    }
  }
}
